<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% load staticfiles %}

<html>
    <head>
      
		<!-- <script src="{% static 'dashboard/js/grey_box.js' %}"></script> -->
		
    
    
    <script src="{% static 'dashboard/js/accordion_menu.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

     <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/tipsy.css' %}" />
    <script src="{% static 'dashboard/js/jquery.js' %}"></script>

     <script src="{% static 'dashboard/js/jquery.tipsy.js' %}"></script>

    

    </head>
  
    <body>
      <div id="block"></div>
      <script> console.log({{user_id}}) </script>
      <div id="hidden_user" style="visibility: hidden; height: 0px"> {{user_id}} </div>

      <div id="container">

        <div class="row" id="viewport">
       
          <div class="col-md-3 nomargin">
          
            <div id="left_header">

            <div class="row top_divisor"></div>
           <a href="/dashboard/landing" class="nomargin" id="tweetboard">
                <div id="logo_1">tweet</div>
                <div id="logo_2">Board</div>
            </a>
            <div class="row top_divisor"></div>
            <div class="row top_divisor"></div>
              
              <div class="row" id="profile">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <div id="profile_name"> </div>

                  <div class="profile_text" id="user_handle"> </div>
                  <div class="profile_text" id="user_location"></div>
                </div>
              
                
                
                <div class="col-md-2">
                 <img id="profile_pic"></img>
                </div>
              </div>

              <div class="top_divisor"></div>

               <ul class="mtree nomargin">
                  
                  <li class="side_button">
                   
                        <a href="#" class="side_button_text"> DASHBOARD </a>
                    
                  </li>
                  <li class="side_button">
                   
                        <a class="side_button_text" id="map_text"> </a>
                    
                  </li>
                  <li class="side_button">
                   
                        <a class="side_button_text" id="questions" style="padding-bottom: 5px;"> </a>
                    
                  </li>
                  <li class="side_button">
                   

                        <a href="#" > 
                          <div class="side_button_text" id="my_tweets"></div>
                          <div class="arrow_down_pic"></div>
                        </a>

                         <div style="height: 2vh;"></div>

                        <ul id="tweet_items_list"></ul>
    
                  </li>
                
                 
              </ul>

            </div>  
        
          </div>
        
          <div class="col-md-9">
            <div class="row" id="top_header">

           <div class="row top_divisor">
                  <div class="col-md-10" style="padding-right: 0px;">
                    <div class="top_bar" id="top_bar_left" style="border-right: 0px;"></div>
                  </div>
                  <div class="col-md-1 nomargin">
                    
                        <div class="top_bar  col-md-6 nomargin" class="home_wrapper">
                           <a id="logout" > 
                            <img src="{% static 'dashboard/style/logout.png' %}" class="home_icon" style="margin-top: 3px; margin-left: 2px;"></img> 
                          </a>
                        </div>

                        <div class="top_bar  col-md-6 nomargin" class="home_wrapper">
                           <a id="back_home" > 
                            <img src="{% static 'dashboard/style/home.png' %}" class="home_icon" style="margin-left: 3px; margin-top=1px;"></img> 
                          </a>
                        </div>
                       
                   

                    </div> 
                  </div>
                

                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <div id="page_title"> DASHBOARD </div>
                  <div id="page_subtitle"> Analysis of 40 most recent tweets </div>
                </div>


                 <div class="col-md-7">
                  <div id="top_bar_d3js_box nomargin">
                    

                     <div class="col-md-4 stats_box" style="padding: 0px;">
                      <div class="stats" id="followers_count"></div>
                      <div class="stats_text"> followers </div>
                      
                    </div>


                    <div class="col-md-4 stats_box">
                      <div class="stats" id="retweet_count"></div>
                      <div class="stats_text"> avg retweets </div>
                    </div>
                    
                     <div class="col-md-4 stats_box">
                      <div class="stats" id="favorite_count"></div>
                      <div class="stats_text"> avg favorites </div>
                    </div>

                  </div>
                </div>

   
            </div>

       
            
            <div class="row divisor"></div>

            <div class="viz_title"> Sentiment and general statistics </div>
            <div class="row dashboard" id="dashboard_body_top">
              <div class="d3js_box" id="top_d3js_box">
              </div>
            </div>

           
            <div class="viz_title"> Retweets and favorites over time </div>
            <div class="row dashboard" id="dashboard_body_top_2">
              <div class="d3js_box" id="top_d3js_box_2">
              </div>
            </div>
            
            <div class="row dashboard secondary_level">
              
              <div class=" nomargin wrapper_box">
                <div class="viz_title" style="margin-left: 9vw;"> Gender breakdown </div>
                <div class="d3js_box body_d3js_box" id="d3js_box_1"></div>
              </div>
              
              <div class="nomargin wrapper_box">
                <div class="viz_title" style="margin-left: 9vw;"> Popular hashtags </div>
                <div class="d3js_box body_d3js_box" id="d3js_box_2"></div>
              </div>
             
            </div>


           

          </div>

        </div>
      </div>


       <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/bootstrap-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/mtree.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/grey_box.css' %}" />  -->


    
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/velocity/0.2.1/jquery.velocity.min.js'></script> 
      <script src="{% static 'dashboard/js/user_data.js' %}"></script>
     <script src="{% static 'dashboard/js/dashboard_data.js' %}"></script>
     
      <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/dashboard.css' %}" />
     
      <script src="{% static 'dashboard/js/mtree.js' %}"></script> 
       <script src="{% static 'dashboard/js/vizit.js' %}"></script>


       <script src="{% static 'dashboard/js/timeline_scatterplot.js' %}"></script> 
       <script src="{% static 'dashboard/js/gender_piechart_dashboard.js' %}"></script> 

       <script src="{% static 'dashboard/js/hashtag_vis.js' %}"></script>


       <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/timeline_scatterplot.css' %}" />
    </body>
</html>
