<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% load staticfiles %}

<html>
    <head>
    </head>
  
     <body>
      <div id="block"></div>
      <div id="hidden_user" style="visibility: hidden; height: 0px"> {{user_id}} </div>

      <div id="container">

        <div class="row" id="viewport_map">
       
          <div class="col-md-3 nomargin">
          
            <div id="left_header_map">

            <div class="row top_divisor"></div>
           <a href="/dashboard/landing" class="nomargin" id="tweetboard">
                <div id="logo_1">tweet</div>
                <div id="logo_2">Board</div>
            </a>
            <div class="row top_divisor"></div>
            <div class="row top_divisor"></div>
              
              <div class="row" id="profile">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <div id="profile_name"> </div>

                  <div class="profile_text" id="user_handle"> </div>
                  <div class="profile_text" id="user_location"></div>
                </div>
              
                
                
                <div class="col-md-2">
                 <img id="profile_pic"></img>
                </div>
              </div>

              <div class="top_divisor"></div>

               <ul class="mtree nomargin">
                  
                  <li class="side_button">
                   
                         <a id="dashboard_link" class="side_button_text"> DASHBOARD </a>
                    
                  </li>
                  <li class="side_button">
                   
                        <a href="#" class="side_button_text" id="map_text"> </a>
                    
                  </li>
                  <li class="side_button">
                   
                        <a class="side_button_text" id="questions"> </a>
                    
                  </li>
                  <li class="side_button">
                   

                        <a href="#" > 
                          <div class="side_button_text" id="my_tweets"></div>
                          <div class="arrow_down_pic"></div>
                        </a>

                         <div style="height: 2vh;"></div>

                        <ul id="tweet_items_list"></ul>
    
                  </li>
                
                 
              </ul>

            </div>  
        
          </div>
        
        
          <div class="col-md-9">
            <div class="row" id="top_header_tweet">

                <div class="row top_divisor">
                  <div class="col-md-10" style="padding-right: 0px;">
                    <div class="top_bar" id="top_bar_left" style="border-right: 0px;"></div>
                  </div>
                   <div class="col-md-1 nomargin">
                    
                        <div class="top_bar  col-md-6 nomargin" class="home_wrapper">
                           <a id="logout" > 
                            <img src="{% static 'dashboard/style/logout.png' %}" class="home_icon" style="margin-top: 3px; margin-left: 2px;"></img> 
                          </a>
                        </div>

                        <div class="top_bar  col-md-6 nomargin" class="home_wrapper">
                           <a id="back_home" > 
                            <img src="{% static 'dashboard/style/home.png' %}" class="home_icon" style="margin-left: 3px; margin-top=1px;"></img> 
                          </a>
                        </div>
                       
                   

                    </div> 
                  </div>
                

                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <div id="page_title"> MAP </div>
                  <div class="row" id="tweet_body"> Click on the states to visualize tweets at the candidate </div>
                </div>
              
                
            </div>

       
            
            <div class="row top_divisor"></div>
            
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10" id="map" style="margin-left: 15vw; width: 70vw; height: 60vh;"></div>
              <div id="clicked-state"></div>

            </div>

            <div id="only_show_click" style="visibility: hidden;">
            
            
              <div class="nomargin" id="sentiment_box">
                
              </div>
              
            </div>

            <div class="row" style="height: 10vh;"></div>
      


            <div class="row">
              <div class="col-md-1"></div>
              <table class="col-md-10" id="questions_table">
                
                  
              </table>
            </div>


          </div>
            


           

          </div>

        </div>
      </div>


        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/bootstrap-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/mtree.css' %}" />
  


    
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/velocity/0.2.1/jquery.velocity.min.js'></script> 
    <script src="{% static 'dashboard/js/jquery.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
     <script src="{% static 'dashboard/js/jquery.tipsy.js' %}"></script>

    
    
    <script src="{% static 'dashboard/js/accordion_menu.js' %}"></script>

     <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/tipsy.css' %}" />
      <script src="{% static 'dashboard/js/mtree.js' %}"></script> 
        <script src="{% static 'dashboard/js/map_data.js' %}"></script>
         <script src="{% static 'dashboard/js/raphael.js' %}"></script>
          <script src="{% static 'dashboard/js/jquery.usmap.js' %}"></script>
      
     
       <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/dashboard.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/questions.css' %}" />
    </body>
</html>
