<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% load staticfiles %}

<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/bootstrap-theme.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/mtree.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/grey_box.css' %}" />


		
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

		<script src='http://cdnjs.cloudflare.com/ajax/libs/velocity/0.2.1/jquery.velocity.min.js'></script> 
		<script src="{% static 'dashboard/js/jquery.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
     <script src="{% static 'dashboard/js/jquery.tipsy.js' %}"></script>
     <script src="{% static 'dashboard/js/dashboard_data.js' %}"></script>
    
		<script src="{% static 'dashboard/js/grey_box.js' %}"></script>
		
    
    
    <script src="{% static 'dashboard/js/accordion_menu.js' %}"></script>

     <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/tipsy.css' %}" />

    

    </head>
  
    <body>
        <div id="hidden_tweet_id" style="visibility: hidden; height: 0px"> {{tweet_id}} </div>
         <div id="block"></div>
          <div id="grey_container">
              
              <div id="closebtn">x</div>
              <iframe id="iframe" style="width:85vw; height: 85vh; outline: 1px solid gray;"></iframe>
          </div>

      <div id="container">

        <div class="row" id="viewport">
       
          <div class="col-md-3 nomargin">
          
            <div id="left_header">

            <div class="row top_divisor"></div>
            <div id="logo"> </div>  
            <div class="row top_divisor"></div>
              
              <div class="row" id="profile">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <div id="profile_name"> Hillary Clinton </div>

                  <div class="profile_text"> @clinton2016 </div>
                  <div class="profile_text"> New York, NY </div>
                </div>
              
                
                
                <div class="col-md-2">
                 <div id="profile_pic"></div>
                </div>
              </div>

              <div class="top_divisor"></div>

               <ul class="mtree nomargin">
                  
                  <li class="side_button">
                   
                        <a href="#" class="side_button_text"> DASHBOARD </a>
                    
                  </li>
                  <li class="side_button">
                   

                        <a href="#" class="side_button_text"> INDIVIDUAL TWEETS 
                          <div id="arrow_down_pic"></div>
                        </a>

                         <div style="height: 2vh;"></div>

                        <ul id="tweet_items_list"></ul>
             
                  </li>
                 
              </ul>

            </div>  
        
          </div>
        
          <div class="col-md-9">
            <div class="row" id="top_header">

                <div class="row top_divisor">
                  <div class="col-md-10" style="padding-right: 0px;">
                    <div class="top_bar" id="top_bar_left" style="border-right: 0px;"></div>
                  </div>
                  <div class="col-md-2 nomargin">
                    <div class="top_bar" id="top_bar_right">
                        <div class="col-md-4 nomargin">
                          <div class="icons top_bar nomargin"> <div id="profile_icon"></div> </div>
                        </div>
                        <div class="col-md-4 nomargin">
                          <div class="icons top_bar nomargin"> <div id="settings_icon"></div> </div>
                        </div>
                        <div class="col-md-4 nomargin">
                          <div class="icons top_bar nomargin"> <div id="logout_icon"></div> </div>
                        </div>
                    </div>

                    </div> 
                  </div>
                

                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <div id="page_title"> TWEET </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <div class="d3js_box" id="top_bar_d3js_box">



                  </div>
                </div>  
                <div class="col-md-1"></div>
            </div>

       
            
            <div class="row divisor"></div>
            <div class="row" id="tweet_body"> {{tweet_id}} </div>
            <div class="row divisor"></div>
            <div class="row dashboard" id="dashboard_body_top">
              <div class="d3js_box" id="top_d3js_box">
              	<script src="{% static 'dashboard/js/vizit.js' %}"></script>
              </div>
            </div>
            <div class="row divisor"></div>
            <div class="row dashboard secondary_level">
              <div class="wrapper_box nomargin">
                <div class="d3js_box body_d3js_box"></div>
              </div>
              <div class="wrapper_box nomargin">
                <div class="d3js_box body_d3js_box"></div>
              </div>
              <div class="wrapper_box nomargin">
                <div class="d3js_box body_d3js_box"></div>
              </div>
            </div>


           

          </div>

        </div>
      </div>


     
      <script src="{% static 'dashboard/js/mtree.js' %}"></script> 
       <script src="{% static 'dashboard/js/tweet_data.js' %}"></script>
       <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/dashboard.css' %}" />
    </body>
</html>
