{% load staticfiles %}

<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
   <title>Hilary Retweeters</title>
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
   <script src="{% static 'dashboard/js/d3.min.js' %}"></script>
   <script src="{% static 'dashboard/js/jquery.tipsy.js' %}"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/tipsy.css' %}" />
   
 </head>
 <body>
   <script src="{% static 'dashboard/js/vizit.js' %}"></script>
   <div id="vis_label"></div>
 </body>
</html>